
#/**
#!/.gitignore
#!/Numpy Tutorial/

.ipynb_checkpoints
readonly
notebook.tar.gz
test.zip
dummy
datasets
__pycache__
*.py

*LICENSE
LICENSE
font
model_data
yad2k
*.txt
models
*.wav
XY_dev
XY_train
raw_data
audio_examples
data

*.h5
weights
*.tar.gz
pretrained-model

#Structuring Machine Learning Projects/*
