
#/**
#!/.gitignore
#!/Numpy Tutorial/

Convolutional Neural Networks/*
Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/*
Neural Networks and Deep Learning/*

Neural Networks and Deep Learning/Week 2/Logistic Regression as a Neural Network/*
!Neural Networks and Deep Learning/Week 2/Logistic Regression as a Neural Network/*.ipynb

Neural Networks and Deep Learning/Week 3/Planar data classification with one hidden layer/*
!Neural Networks and Deep Learning/Week 3/Planar data classification with one hidden layer/*.ipynb

Sequence Models/*
Structuring Machine Learning Projects/*
